Repository traas-stack/kapacity, pull requests merged in 2023-10, with the labels that each got.

#64 Algo: Introduce grpc proto
  algorithm/kapacity/portrait/horizontal/predictive/metrics/metric.proto
  algorithm/kapacity/portrait/horizontal/predictive/metrics/metric_pb2.py
  algorithm/kapacity/portrait/horizontal/predictive/metrics/metric_pb2.pyi
  algorithm/kapacity/portrait/horizontal/predictive/metrics/metric_pb2_grpc.py
  algorithm/kapacity/portrait/horizontal/predictive/metrics/provider.proto
  algorithm/kapacity/portrait/horizontal/predictive/metrics/provider_pb2.py
  algorithm/kapacity/portrait/horizontal/predictive/metrics/provider_pb2.pyi
  algorithm/kapacity/portrait/horizontal/predictive/metrics/provider_pb2_grpc.py
Labels: kind/feature, kind/algorithm

#65 Algo: support test dataset size config for replica estimation & other tweaks
  algorithm/kapacity/portrait/horizontal/predictive/main.py
  algorithm/kapacity/portrait/horizontal/predictive/replicas_estimator.py
  algorithm/kapacity/timeseries/forecasting/forecaster.py
Labels: kind/feature, kind/algorithm

#66 Introduce ready pods only filtering to workload resource query
  config/manager/config.yaml
  pkg/metric/provider/prometheus/metrics_config.go
  pkg/metric/provider/prometheus/provider_test.go
  pkg/metric/provider/prometheus/query.go
  pkg/metric/provider/prometheus/resource.go
  pkg/metric/query.go
  pkg/metric/service/api/metric.pb.go
  pkg/metric/service/api/metric.proto
  pkg/metric/service/server.go
Labels: kind/feature, kind/api-change

#69 HorizontalPortrait: Unify algorithm job namespace & introduce template defaulting
  algorithm/kapacity/portrait/horizontal/predictive/main.py
  main.go
  pkg/portrait/algorithm/externaljob/jobcontroller/cronjob.go
  pkg/portrait/algorithm/externaljob/jobcontroller/cronjob_test.go
Labels: kind/feature, kind/algorithm

#70 HorizontalPortrait: Support service account defaulting for algorithm job
  main.go
  pkg/portrait/algorithm/externaljob/jobcontroller/cronjob.go
  pkg/portrait/algorithm/externaljob/jobcontroller/cronjob_test.go
Labels: kind/feature

#71 Algo: Support custom worker num of data loader of TSF & improve error handling of RE
  algorithm/kapacity/portrait/horizontal/predictive/main.py
  algorithm/kapacity/timeseries/forecasting/forecaster.py
Labels: kind/feature, kind/algorithm

#72 Algo: optimize algorithm code structure & add model training scripts
  algorithm/kapacity/metric/pb/metric.proto
  algorithm/kapacity/metric/pb/metric_pb2.py
  algorithm/kapacity/metric/pb/metric_pb2.pyi
  algorithm/kapacity/metric/pb/metric_pb2_grpc.py
  algorithm/kapacity/metric/pb/provider.proto
  algorithm/kapacity/metric/pb/provider_pb2.py
  algorithm/kapacity/metric/pb/provider_pb2.pyi
  algorithm/kapacity/metric/pb/provider_pb2_grpc.py
  algorithm/kapacity/metric/query.py
  algorithm/kapacity/portrait/horizontal/predictive/main.py
  algorithm/kapacity/timeseries/forecasting/train.py
Labels: kind/feature, kind/algorithm

#73 Algo: Introduce conda env file and dockerfile for horizontal predictive
  algorithm/environment.yml
  algorithm/horizontal-predictive.Dockerfile
  algorithm/kapacity/__init__.py
  algorithm/kapacity/metric/__init__.py
  algorithm/kapacity/metric/pb/__init__.py
  algorithm/kapacity/portrait/__init__.py
  algorithm/kapacity/portrait/horizontal/__init__.py
  algorithm/kapacity/portrait/horizontal/predictive/__init__.py
  algorithm/kapacity/timeseries/__init__.py
  algorithm/kapacity/timeseries/forecasting/__init__.py
Labels: kind/feature, kind/algorithm

#74 Update manifests for v0.2
  config/default/kustomization.yaml
  config/manager/config.yaml
  config/manager/kustomization.yaml
  config/manager/manager.yaml
  config/manager/service.yaml
  config/rbac/algorithm_job_role.yaml
  config/rbac/algorithm_job_role_binding.yaml
  config/rbac/kustomization.yaml
  config/rbac/service_account.yaml
  pkg/metric/provider/prometheus/provider_test.go
Labels: kind/feature

#75 Algo: No splitting error messages
  algorithm/kapacity/portrait/horizontal/predictive/main.py
Labels: kind/cleanup, kind/algorithm

#76 Update docs
  CONTRIBUTING.md
  README.md
  README_zh.md
  logo/logo-with-black-text.png
  logo/logo-with-white-text.png
Labels: kind/documentation

#78 CI: Fix duplicate release workflow name
  .github/workflows/release-algorithm.yaml
Labels: kind/ci

#79 algo: fix metric name fetching
  algorithm/kapacity/portrait/horizontal/predictive/main.py
  algorithm/kapacity/timeseries/forecasting/train.py
Labels: kind/bug, kind/algorithm

#80 Algo: Make tsf model train script more general
  algorithm/kapacity/timeseries/forecasting/train.py
Labels: kind/feature, kind/algorithm
